<div class="container jumbotron"
fxLayout="row"
fxLayout.sm="column" 
fxLayout.xs="column" 
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center" 
fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">
<div fxFlex fxFlex.gt-sm="5%">
    <img src="/assets/images/tu-logo.png" alt="Logo" height = 75 width = 75>
</div>
<div fxFlex fxFlex.gt-sm="50%">
    <h1>Faculty Publication Management Portal</h1>
</div>
</div>
<div class="container jumbotron">
    <mat-toolbar color="primary">
        <a>Home</a>
        <span class="flex-spacer"></span>
        <mat-form-field>
            <input matInput placeholder="Search" type="search">
        </mat-form-field>
        <button mat-button><span class="fa fa-search fa-lg"></span></button>
    </mat-toolbar>
</div>